body {
  background-color: #000000;
  color: #ffffff;
  font-size: 1.2rem;
}

h1 {
  font-family: 'Roboto Slab', serif;
}

.centered {
  text-align: center;
}

.flex-container {
  display: flex;
  height: 80%;
  /*background-color: #7777ff;*/
}

.button-container {
  width: 100%;
}

.action-button {
  display: block;
  margin: 20px auto;
}

.text-container {
  font-family: 'Roboto Mono', monospace;
  width: calc(50% - 40px);
  margin: 20px;
  height: calc(100% - 40px);
  font-size: 1.2rem;
}

#output {
  background-color: #dddddd;
  color: #111111;
}

.whitespace {
  background-color: #5cc3ff;
  font-size: 1.5rem;
}